.git
.github
.vs
.vscode
.angular
.dotnet
.dotnetuser
Logs
artifacts/
.env
license-work/

**/bin
**/obj
**/node_modules
**/dist
**/.angular
tools/Tod.LicenseGenerator/license-private.key
tools/Tod.LicenseGenerator/license-public.key
tools/Tod.LicenseGenerator/license-*.json

*.user
*.suo
*.cache
*.tmp
*.log
*.binlog
