<p-toast />
<p-confirmdialog />

<p-toolbar styleClass="mb-4">
    <ng-template #start>
        @if (canManage) {
            <p-button label="Yeni Tesis" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        }
        <p-button label="Yenile" icon="pi pi-refresh" severity="secondary" [outlined]="true" (onClick)="refresh()" />
    </ng-template>
</p-toolbar>

<p-table
    [value]="tesisler"
    [loading]="loading"
    dataKey="id"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true"
    [rows]="pageSize"
    [first]="(pageNumber - 1) * pageSize"
    [rowsPerPageOptions]="[10, 20, 50]"
    [totalRecords]="totalRecords"
    [tableStyle]="{ 'min-width': '70rem' }"
    currentPageReportTemplate="{first} - {last} / {totalRecords}"
    [showCurrentPageReport]="true"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Tesis Yonetimi</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" [ngModel]="searchQuery" placeholder="Ara..." (input)="onSearchInput($event)" />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th>Tesis Adi</th>
            <th>Il</th>
            <th>Telefon</th>
            <th>Adres</th>
            <th>Durum</th>
            <th style="width: 18rem">Islem</th>
        </tr>
    </ng-template>

    <ng-template #body let-tesis>
        <tr>
            <td>{{ tesis.ad }}</td>
            <td>{{ getIlAdi(tesis.ilId) }}</td>
            <td>{{ tesis.telefon }}</td>
            <td>{{ tesis.adres }}</td>
            <td>{{ tesis.aktifMi ? 'Aktif' : 'Pasif' }}</td>
            <td>
                <div class="flex gap-2">
                    <p-button label="Goruntule" icon="pi pi-eye" size="small" severity="info" [outlined]="true" (onClick)="openView(tesis)" />
                    @if (canManage) {
                        <p-button label="Duzenle" icon="pi pi-pencil" size="small" severity="secondary" [outlined]="true" (onClick)="openEdit(tesis)" />
                        <p-button icon="pi pi-trash" size="small" severity="danger" [outlined]="true" (onClick)="deleteTesis(tesis)" />
                    }
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-tesis-dialog [(visible)]="dialogVisible" [mode]="dialogMode" [model]="selectedTesis" [iller]="iller" [saving]="saving" [canManage]="canManage" (save)="onDialogSave($event)" (modeChange)="dialogMode = $event" />
