<p-toast />
<p-confirmdialog />

<p-toolbar styleClass="mb-4">
    <ng-template #start>
        @if (canManage) {
            <p-button label="Yeni Indirim Kurali" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        }
        <p-button label="Yenile" icon="pi pi-refresh" severity="secondary" [outlined]="true" (onClick)="refresh()" />
    </ng-template>
</p-toolbar>

<p-table
    [value]="indirimKurallari"
    [loading]="loading"
    dataKey="id"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    sortMode="single"
    [paginator]="true"
    [rows]="pageSize"
    [first]="(pageNumber - 1) * pageSize"
    [rowsPerPageOptions]="[10, 20, 50]"
    [totalRecords]="totalRecords"
    [tableStyle]="{ 'min-width': '92rem' }"
    currentPageReportTemplate="{first} - {last} / {totalRecords}"
    [showCurrentPageReport]="true"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Indirim Kurali Yonetimi</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" [ngModel]="searchQuery" placeholder="Ad veya kod ara..." (input)="onSearchInput($event)" />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th pSortableColumn="kod">Kod <p-sortIcon field="kod" /></th>
            <th pSortableColumn="ad">Ad <p-sortIcon field="ad" /></th>
            <th pSortableColumn="indirimTipi">Tip <p-sortIcon field="indirimTipi" /></th>
            <th pSortableColumn="deger">Deger <p-sortIcon field="deger" /></th>
            <th pSortableColumn="kapsamTipi">Kapsam <p-sortIcon field="kapsamTipi" /></th>
            <th pSortableColumn="tesisId">Tesis <p-sortIcon field="tesisId" /></th>
            <th pSortableColumn="baslangicTarihi">Tarih Araligi <p-sortIcon field="baslangicTarihi" /></th>
            <th pSortableColumn="oncelik">Oncelik <p-sortIcon field="oncelik" /></th>
            <th pSortableColumn="aktifMi">Aktif <p-sortIcon field="aktifMi" /></th>
            <th style="width: 18rem">Islem</th>
        </tr>
    </ng-template>

    <ng-template #body let-item>
        <tr>
            <td>{{ item.kod }}</td>
            <td>{{ item.ad }}</td>
            <td>{{ item.indirimTipi }}</td>
            <td>{{ item.deger }}</td>
            <td>{{ item.kapsamTipi }}</td>
            <td>{{ getTesisName(item.tesisId) }}</td>
            <td>{{ item.baslangicTarihi | date: 'yyyy-MM-dd' }} - {{ item.bitisTarihi | date: 'yyyy-MM-dd' }}</td>
            <td>{{ item.oncelik }}</td>
            <td>{{ item.aktifMi ? 'Evet' : 'Hayir' }}</td>
            <td>
                <div class="flex gap-2">
                    <p-button label="Goruntule" icon="pi pi-eye" size="small" severity="info" [outlined]="true" (onClick)="openView(item)" />
                    @if (canManage) {
                        <p-button label="Duzenle" icon="pi pi-pencil" size="small" severity="secondary" [outlined]="true" (onClick)="openEdit(item)" />
                        <p-button icon="pi pi-trash" size="small" severity="danger" [outlined]="true" (onClick)="deleteIndirimKurali(item)" />
                    }
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-indirim-kurali-dialog
    [(visible)]="dialogVisible"
    [mode]="dialogMode"
    [model]="selectedIndirimKurali"
    [saving]="saving"
    [canManage]="canManage"
    [canCreateSystemRule]="canCreateSystemRule"
    [tesisOptions]="tesisOptions"
    [misafirTipiOptions]="misafirTipiOptions"
    [konaklamaTipiOptions]="konaklamaTipiOptions"
    (save)="onDialogSave($event)"
    (modeChange)="dialogMode = $event"
/>

