<app-muhasebe-tesis-secim-dialog />
<app-muhasebe-tesis-context-bar />

<p-toast />
<p-confirmdialog />

<p-toolbar styleClass="mb-4">
    <ng-template #start>
        <p-button label="Yeni" icon="pi pi-plus" (onClick)="openCreate()" />
        <p-button label="Yenile" icon="pi pi-refresh" class="ml-2" severity="secondary" [outlined]="true" (onClick)="load(); loadSummary()" />
    </ng-template>
    <ng-template #end>
        <p-select styleClass="min-w-18rem" [options]="depoOptions" optionLabel="label" optionValue="value" placeholder="Depo filtrele" [showClear]="true" [(ngModel)]="selectedDepoId" (onChange)="onDepoFilterChange()" appendTo="body" />
    </ng-template>
</p-toolbar>

<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Stok Hareketleri</p-tab>
        <p-tab value="1">Depo Bakiye Ozeti</p-tab>
        <p-tab value="2">Stok Kart Ozeti</p-tab>
        <p-tab value="3">Stok Degerleme</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <p-table [value]="records" [loading]="loading" dataKey="id" [tableStyle]="{ 'min-width': '94rem' }" [lazy]="true" (onLazyLoad)="onLazyLoad($event)" [paginator]="true" [rows]="pageSize" [first]="(pageNumber - 1) * pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,50]">
                <ng-template #header>
                    <tr>
                        <th>Tarih</th>
                        <th>Depo</th>
                        <th>Tasinir Kart</th>
                        <th>Lot / Seri</th>
                        <th>Tip</th>
                        <th>Miktar</th>
                        <th>Birim Fiyat</th>
                        <th>Tutar</th>
                        <th>KDV Tipi</th>
                        <th>KDV Oran</th>
                        <th>KDV Tutar</th>
                        <th>Durum</th>
                        <th style="width: 10rem">Islem</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <td>{{ item.hareketTarihi | date: 'dd.MM.yyyy HH:mm' }}</td>
                        <td>
                            <div>{{ getDepoLabel(item.depoId) }}</div>
                            <small *ngIf="getTransferRotaLabel(item) as rota">{{ rota }}</small>
                        </td>
                        <td>{{ getTasinirKartLabel(item.tasinirKartId) }}</td>
                        <td>
                            <div>{{ getTrackingLabel(item) }}</div>
                            <small *ngIf="item.lotNo && item.sonKullanmaTarihi">{{ item.sonKullanmaTarihi | date: 'dd.MM.yyyy' }}</small>
                        </td>
                        <td>{{ getHareketTipiLabel(item) }}</td>
                        <td>{{ item.miktar }}</td>
                        <td>{{ item.birimFiyat | number: '1.2-2' }}</td>
                        <td>{{ item.tutar | number: '1.2-2' }}</td>
                        <td>{{ getKdvUygulamaTipiLabel(item.kdvUygulamaTipi) }}</td>
                        <td>{{ item.kdvUygulamaTipi === 1 ? '%' + item.kdvOrani : item.kdvIstisnaKodu ?? '-' }}</td>
                        <td>{{ item.kdvTutari | number: '1.2-2' }}</td>
                        <td>{{ item.durum }}</td>
                        <td>
                            <div class="flex gap-2">
                                <p-button icon="pi pi-pencil" size="small" severity="secondary" [outlined]="true" (onClick)="openEdit(item)" [disabled]="!!item.transferGrupId" />
                                <p-button icon="pi pi-file-plus" size="small" severity="success" [outlined]="true" (onClick)="muhasebeFisTaslagiOlustur(item)" [disabled]="!canCreateMuhasebeFisTaslagi(item)" [pTooltip]="getMuhasebeFisTaslagiTooltip(item)" tooltipPosition="top" />
                                <p-button icon="pi pi-trash" size="small" severity="danger" [outlined]="true" (onClick)="delete(item)" />
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabpanel>
        <p-tabpanel value="1">
            <p-table [value]="stokBakiye" [tableStyle]="{ 'min-width': '72rem' }">
                <ng-template #header>
                    <tr>
                        <th style="width: 4rem"></th>
                        <th>Depo</th>
                        <th>Stok Kodu</th>
                        <th>Kart</th>
                        <th>Birim</th>
                        <th>Giris</th>
                        <th>Cikis</th>
                        <th>Bakiye</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <td>
                            <p-button [icon]="getStokDetayToggleIcon(item)" size="small" severity="secondary" [text]="true" (onClick)="toggleStokDetay(item)" />
                        </td>
                        <td>{{ item.depoKod }} - {{ item.depoAd }}</td>
                        <td>{{ item.stokKodu }}</td>
                        <td>{{ item.tasinirKartAd }}</td>
                        <td>{{ item.birim }}</td>
                        <td>{{ item.girisMiktari }}</td>
                        <td>{{ item.cikisMiktari }}</td>
                        <td>{{ item.bakiyeMiktari }}</td>
                    </tr>
                    <tr *ngIf="isStokDetayExpanded(item)">
                        <td colspan="8" class="p-0">
                            <div class="p-3 surface-50 border-top-1 surface-border">
                                <div *ngIf="isStokDetayLoading(item)" class="text-color-secondary">Stok detayı yükleniyor...</div>
                                <ng-container *ngIf="getStokDetay(item) as detay">
                                    <div class="flex justify-content-between align-items-center mb-3 gap-3 flex-wrap">
                                        <div>
                                            <div class="font-semibold">Stok Detayı</div>
                                            <small>{{ getStokDetayModuLabel(detay.malzemeKayitTipi) }}</small>
                                        </div>
                                        <div class="text-right">
                                            <div>Mevcut Bakiye: {{ detay.bakiyeMiktari | number: '1.3-3' }} {{ detay.birim }}</div>
                                            <small>{{ detay.aciklama }}</small>
                                        </div>
                                    </div>

                                    <p-table [value]="detay.satirlar" [tableStyle]="{ 'min-width': '48rem' }">
                                        <ng-template #header>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>Lot / Seri</th>
                                                <th>SKT</th>
                                                <th>Miktar</th>
                                                <th>Birim</th>
                                                <th>Birim Fiyat</th>
                                                <th>Toplam Tutar</th>
                                                <th>Hareket</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template #body let-satir>
                                            <tr>
                                                <td>{{ satir.hareketTarihi ? (satir.hareketTarihi | date: 'dd.MM.yyyy HH:mm') : '-' }}</td>
                                                <td>{{ getDetayTrackingLabel(satir) }}</td>
                                                <td>{{ satir.sonKullanmaTarihi ? (satir.sonKullanmaTarihi | date: 'dd.MM.yyyy') : '-' }}</td>
                                                <td>{{ satir.miktar | number: '1.3-3' }}</td>
                                                <td>{{ satir.birim }}</td>
                                                <td>{{ satir.birimFiyat | number: '1.2-2' }}</td>
                                                <td>{{ satir.toplamTutar | number: '1.2-2' }}</td>
                                                <td>{{ satir.hareketSayisi }}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabpanel>
        <p-tabpanel value="2">
            <p-table [value]="stokKartOzet" [tableStyle]="{ 'min-width': '64rem' }">
                <ng-template #header>
                    <tr>
                        <th>Stok Kodu</th>
                        <th>Kart</th>
                        <th>Birim</th>
                        <th>Giris</th>
                        <th>Cikis</th>
                        <th>Bakiye</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <td>{{ item.stokKodu }}</td>
                        <td>{{ item.ad }}</td>
                        <td>{{ item.birim }}</td>
                        <td>{{ item.girisMiktari }}</td>
                        <td>{{ item.cikisMiktari }}</td>
                        <td>{{ item.bakiyeMiktari }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabpanel>
        <p-tabpanel value="3">
            <p-table [value]="stokDegerleme" [tableStyle]="{ 'min-width': '72rem' }">
                <ng-template #header>
                    <tr>
                        <th>Depo</th>
                        <th>Stok Kodu</th>
                        <th>Kart</th>
                        <th>Miktar</th>
                        <th>Ortalama Maliyet</th>
                        <th>Stok Degeri</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <td>{{ item.depoKod }} - {{ item.depoAd }}</td>
                        <td>{{ item.stokKodu }}</td>
                        <td>
                            <div>{{ item.tasinirKartAd }}</div>
                            <small *ngIf="item.maliyetEksikMi" class="text-orange-600">Legacy hareketler nedeniyle maliyet eksik</small>
                        </td>
                        <td>{{ item.bakiyeMiktari | number: '1.3-3' }} {{ item.birim }}</td>
                        <td>{{ item.ortalamaMaliyet | number: '1.2-6' }}</td>
                        <td>{{ item.toplamStokDegeri | number: '1.2-2' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>

<p-dialog [(visible)]="dialogVisible" [modal]="true" [header]="dialogMode === 'edit' ? 'Stok Hareket Duzenle' : 'Yeni Stok Hareket'" [style]="{ width: '56rem', 'max-width': '95vw' }">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 md:col-span-6">
            <label class="block font-medium mb-2">{{ showHedefDepoField() ? 'Kaynak Depo' : 'Depo' }}</label>
            <p-select class="w-full" [options]="depoOptions" optionLabel="label" optionValue="value" [(ngModel)]="model.depoId" (onChange)="onDepoChange($event.value)" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-6">
            <label class="block font-medium mb-2">Tasinir Kart</label>
            <p-select class="w-full" [options]="tasinirKartOptions" optionLabel="label" optionValue="value" [(ngModel)]="model.tasinirKartId" (onChange)="onTasinirKartChange($event.value)" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-6" *ngIf="isLotSelectionMode()">
            <label class="block font-medium mb-2">Lot</label>
            <p-select class="w-full" [options]="getPositiveLotOptions()" optionLabel="label" optionValue="value" [loading]="lotOptionsLoading" [(ngModel)]="model.stokLotId" (onChange)="onLotSelectionChange($event.value)" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-6" *ngIf="isSeriSelectionMode()">
            <label class="block font-medium mb-2">Seri No</label>
            <p-select class="w-full" [options]="getPositiveSeriOptions()" optionLabel="label" optionValue="value" [loading]="seriOptionsLoading" [(ngModel)]="model.stokSeriId" (onChange)="onSeriSelectionChange($event.value)" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-6" *ngIf="isLotEntryMode()">
            <label class="block font-medium mb-2">Lot No</label>
            <input pInputText class="w-full" [(ngModel)]="model.lotNo" maxlength="64" />
        </div>
        <div class="col-span-12 md:col-span-6" *ngIf="isSeriEntryMode()">
            <label class="block font-medium mb-2">Seri No</label>
            <input pInputText class="w-full" [(ngModel)]="model.seriNo" maxlength="128" />
        </div>
        <div class="col-span-12 md:col-span-6" *ngIf="isLotEntryMode()">
            <label class="block font-medium mb-2">Son Kullanma Tarihi</label>
            <p-datepicker
                [(ngModel)]="lotSonKullanmaTarihiDate"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full"
                dateFormat="dd.mm.yy"
                [showIcon]="true"
                [showButtonBar]="true"
                appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-6" *ngIf="showHedefDepoField()">
            <label class="block font-medium mb-2">Hedef Depo</label>
            <p-select class="w-full" [options]="getHedefDepoOptions()" optionLabel="label" optionValue="value" [(ngModel)]="model.hedefDepoId" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-4">
            <label class="block font-medium mb-2">Tip</label>
            <p-select class="w-full" [options]="hareketTipleri" optionLabel="label" optionValue="value" [(ngModel)]="model.hareketTipi" (onChange)="onHareketTipiChange()" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-4" *ngIf="isSayimFarki(model)">
            <label class="block font-medium mb-2">Sayim Farki Yonu</label>
            <p-select class="w-full" [options]="sayimFarkiYonleri" optionLabel="label" optionValue="value" [(ngModel)]="model.sayimFarkiYonu" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-4" *ngIf="showDurumField()">
            <label class="block font-medium mb-2">Durum</label>
            <p-select class="w-full" [options]="durumlar" optionLabel="label" optionValue="value" [(ngModel)]="model.durum" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-4" *ngIf="!showHedefDepoField() && !isSayimFarki(model)">
            <label class="block font-medium mb-2">Cari (opsiyonel)</label>
            <p-select class="w-full" [options]="cariKartOptions" optionLabel="label" optionValue="value" [showClear]="true" [(ngModel)]="model.cariKartId" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-6">
            <label class="block font-medium mb-2">Miktar</label>
            <p-inputnumber [(ngModel)]="model.miktar" [min]="isSeriTrackedSelectedCard() ? 1 : 0.001" [max]="isSeriTrackedSelectedCard() ? 1 : null" [maxFractionDigits]="3" class="w-full" inputStyleClass="w-full" />
        </div>
        <div class="col-span-12 md:col-span-6">
            <label class="block font-medium mb-2">Birim Fiyat</label>
            <p-inputnumber [(ngModel)]="model.birimFiyat" [min]="0" [maxFractionDigits]="2" class="w-full" inputStyleClass="w-full" />
        </div>
        <div class="col-span-12 md:col-span-6">
            <label class="block font-medium mb-2">Belge No</label>
            <input pInputText class="w-full" [(ngModel)]="model.belgeNo" maxlength="64" />
        </div>
        <div class="col-span-12 md:col-span-6">
            <label class="block font-medium mb-2">Hareket Tarihi</label>
            <p-datepicker
                [(ngModel)]="hareketTarihiDate"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full"
                dateFormat="dd.mm.yy"
                [showTime]="true"
                hourFormat="24"
                [firstDayOfWeek]="1"
                [showIcon]="true"
                [showButtonBar]="true"
                appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-4" *ngIf="!showHedefDepoField() && !isSayimFarki(model)">
            <label class="block font-medium mb-2">KDV Uygulama Tipi</label>
            <p-select class="w-full" [options]="filteredKdvUygulamaTipiSecenekleri" optionLabel="label" optionValue="value" [(ngModel)]="model.kdvUygulamaTipi" (onChange)="onKdvUygulamaTipiChange()" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-8" *ngIf="!showHedefDepoField() && !isSayimFarki(model) && model.kdvUygulamaTipi !== 1">
            <label class="block font-medium mb-2">KDV Istisna Tanimi</label>
            <p-select class="w-full" [options]="filteredKdvIstisnaTanimOptions" optionLabel="label" optionValue="value" [showClear]="true" [(ngModel)]="model.kdvIstisnaTanimId" appendTo="body" />
        </div>
        <div class="col-span-12 md:col-span-4" *ngIf="!showHedefDepoField() && !isSayimFarki(model) && model.kdvUygulamaTipi === 1">
            <label class="block font-medium mb-2">KDV Orani (%)</label>
            <p-select class="w-full" [options]="getKdvOraniSecenekleri(model.kdvOrani)" optionLabel="label" optionValue="value" [(ngModel)]="model.kdvOrani" appendTo="body" />
        </div>
    </div>

    <ng-template #footer>
        <p-button label="Vazgec" icon="pi pi-times" severity="secondary" [outlined]="true" (onClick)="dialogVisible = false" />
        <p-button label="Kaydet" icon="pi pi-check" [loading]="saving" (onClick)="save()" />
    </ng-template>
</p-dialog>
