:host {
    display: block;
}

::ng-deep .muhasebe-dashboard {
    .p-card {
        .p-card-body {
            padding: 1rem;
        }

        .p-card-content {
            padding: 0;
        }
    }

    .stat-card-value {
        font-size: 1.5rem;
        font-weight: 700;
    }
}
